{{ $sidebar := .Site.Data.sidebar }} {{ $social := .Site.Data.social }}
<section id="sidebar" class="sidebar d-flex align-items-center p-5">
    <div class="main-info">

        <img src="{{.Site.BaseURL}}/images/{{ $sidebar.displayPicture }}" class="rounded-circle mb-3" width="160px">

        <h1 class="heading">{{ $sidebar.title }} <span class="highlight">{{ $sidebar.highlightedText }}</span></h1>

        <p class="text-muted">
            I work as a software engineer at <a href="https://inorbit.ai">InOrbit.ai</a>, a SaaS platform for robotics.
            As part of my job I do a lot of activities related to product discovery,
            leading technical epics, technical design, mentoring and coding.
        </p>

        <p class="text-muted">
            I also write articles for <b>Real Python</b> and
            have a Licentiate degree in Computer Science from the University of Buenos Aires, where I graduated on 2016.
        </p>

        <p class="text-muted">
            I’ve been interested in computers and technology since I was a kid and I've been working as a software developer and IT consultant since 2004.
            I like building things using open source technologies and working on projects that allow me to learn.
        </p>
        <p class="text-muted">
            I'm based in Buenos Aires, Argentina.
        </p>

        <div class="social my-4">
            {{ range $key, $value := $social }}
            <a target="_blank" href="{{ $value }}">
                <i class="fab fa-{{ $key }}"></i>
            </a>
            {{ end }}
        </div>
    </div>
</section>